{% load static %}
<html lang="">

<head>
  <title>SD Company</title>
  <link href="https://fonts.googleapis.com/css?family=\
      Source+Sans+Pro:400" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
  <div class="sidebar">
        <div class="sidebar-header">@ Your Company</div>
        <ul class="sidebar-menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'product_detail' %}">Models</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>

            <li>FAQ</li>
            <li>Settings</li>
            <li><a href="{% url 'post_new' %}">Contact Us</a></li>
            <li>Logout</li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header">
            <h1><a href="{% url 'home' %}">Our Company ...</a></h1>
            <div class="search-box">
                <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="content-area">
            <div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>

</html>
